@using DreamLearning.Dto;
@using DreamLearning.Models    

@model TransData

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

    @{
        ViewBag.Title = "Home Page";

        TransData dataModelInternal = new TransData(); 
        dataModelInternal =  Model;

        TransData dataModel = Model;


    }

    <div class="container">
        <div class="row">
            <h3 style="position: relative; top:30px">Inserção de Dados Via CSV</h3>

           

            @using (Html.BeginForm("AddressPost", "Insertions", FormMethod.Post, new { enctype = "multipart/form-data", transdata = Model == null ? new TransData() : Model }))
            {


                <div class="input-group mb-3" style="position:relative; top:100px; right:80%">

                    <div class="input-group-prepend">
                        <span class="input-group-text">Upload</span>
                    </div>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" name="postedFIle">
                        <label class="custom-file-label" for="inputGroupFile01">CSV Endereços</label>
                    </div>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit">Enviar</button>
                    </div>
                </div>
            }


            @if (dataModel != null)
            {
                if (dataModel.Addresses != null)
                {
                    <table class="table-striped">
                        <tr>
                            <td>ID</td>
                            <td>Logradouro</td>
                            <td>Numero</td>
                            <td>CEP</td>
                            <td>Bairro</td>
                        </tr>
                        @foreach (Address address in dataModel.Addresses)
                        {
                            <tr>
                                <td>@address.Inep</td>
                                <td>@address.Logradouro</td>
                                <td>@address.Numero</td>
                                <td>@address.Cep</td>
                                <td>@address.Bairro</td>
                            </tr>
                        }
                    </table>
                }

            }

        </div>

        <div class="row">
            @using (Html.BeginForm("GeolocationPointPost", "Insertions", FormMethod.Post, new { enctype = "multipart/form-data", transdata = Model == null? new TransData(): Model  }))
            {
            <div class="input-group mb-3" style="position:relative; top:150px;">
                
                <div class="input-group-prepend">
                    <span class="input-group-text">Upload</span>
                </div>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" name="postedFIle">
                    <label class="custom-file-label" for="inputGroupFile01">CSV geolocalização</label>
                </div>
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit">Enviar</button>
                </div>
            </div>
            }


            @if (dataModel != null)
            {
                if (dataModel.Points != null)
                {

                    <table class="table-striped">
                        <tr>
                            <td>ID</td>
                            <td>Longitude</td>
                            <td>Latitude</td>
                        </tr>
                        @foreach (GeolocationPoint point in Model.Points)
                        {
                            <tr>
                                <td>@point.Inep</td>
                                <td>@point.Latitude</td>
                                <td>@point.Longitude</td>
                            </tr>
                        }
                    </table>
                }

            }
        </div>

        <div class="row">
            @using (Html.BeginForm("SchoolPost", "Insertions", FormMethod.Post, new { enctype = "multipart/form-data", transdata = Model == null ? new TransData() : Model }))
            {

                <div class="input-group mb-3" style="position:relative; top:200px;">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Upload</span>
                    </div>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" name="postedFIle">
                        <label class="custom-file-label" for="inputGroupFile01">CSV Dados</label>
                    </div>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit">Enviar</button>
                    </div>
                </div>
            }
            @if (dataModel != null)
            {
                if (dataModel.Addresses != null)
                {


                    <table class="table-striped">
                        <tr>
                            <td>ID</td>
                            <td>Logradouro</td>
                            <td>Numero</td>
                            <td>CEP</td>
                            <td>Bairro</td>
                        </tr>
                        @foreach (Address address in Model.Addresses)
                        {
                            <tr>
                                <td>@address.Inep</td>
                                <td>@address.Logradouro</td>
                                <td>@address.Numero</td>
                                <td>@address.Cep</td>
                                <td>@address.Bairro</td>
                            </tr>
                        }
                    </table>
                }

            }
        </div>
    </div>
